@page
@model ProjetosCelo.Pages.IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo ao Sistema</h1>
<p>Aqui se iniciam grandes projetos.</p>

<div class="action-buttons">
    <a asp-page="/Amostras/Create" class="btn btn-primary">Cadastrar Nova Amostra</a>
    <a asp-page="/Amostras/Index" class="btn btn-secondary">Listar Amostras</a>
</div>